html {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

h1, p {
  color: white;
  
}

.btn {
  transition: all 0.3s ease;
  background-color: blue;
  border-radius: 30px;
  padding: 5px;
  color: white;
  text-decoration: none;
}
